@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-primary-purple: #5936d2;
	--color-dark: #010101;
}

body {
	font-family: "Inter", sans-serif;
}

@keyframes popIn {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-popIn {
	animation: popIn 0.25s ease-out forwards;
}

/* Custom scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #5936d2;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #5936d2;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 4px;
}

/* For firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #5936d2 #f1f1f1;
}
