@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-primary-purple: #5936d2;
	--color-primary-purple-light: #7b5ce0;
	--color-primary-purple-dark: #3b2096;
	--color-accent-purple: #f3f0ff;
	--color-dark: #0f0f12;
	--color-light-gray: #f9f9fb;
	--color-text-body: #4b5563;
	--color-text-header: #111827;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--color-text-body);
	background-color: var(--color-light-gray);
}

@keyframes popIn {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-popIn {
	animation: popIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-fadeIn {
	animation: fadeIn 0.4s ease-out forwards;
}

/* Custom scroll bar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-primary-purple);
	border-radius: 5px;
	border: 2px solid var(--color-light-gray);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-primary-purple-dark);
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* For firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary-purple) transparent;
}
